.theme-dark{
    --page-background-color:#222;
    --card-background-color:#444;
    --button-background-color:#22d3ee;
    --header-background-color:#444;

    --border-default-color:#222;
    --text-default-color:white;

}
