.theme-light{
    --page-background-color:#f3f4f6;
    --card-background-color:white;
    --button-background-color:#22d3ee;
    --header-background-color:white;

    --border-default-color:#f3f4f6;
    --text-default-color:black;
}
